<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
           <a class= "logo" href="/home"> <img  src="/images/anineLogo.png" width="150" height="140"></a>  
            <a href= '/events'><button>Events</button></a>        
            <a href='/events/new'><button> Start a New Event</button></a>
            <a href='/home'><button>Login</button></a>
            <a href='/home'><button>Sign Up</button></a>
        </nav>