<%- include('./partials/header.ejs')%>
    <div class = "content">
            <br> <br> 
            <h2>Contact Us</h2> 
            <br> <br> 
            <h4>UNC Charlotte</h4>
            <h4>9201 University City Blvd, Charlotte, NC 28223</h4>
            <h4>(704)-444-2222</h4>

    </div>
    <%- include('./partials/footer.ejs')%>